### Example

In [15]:
import pandas as pd
import numpy as np

# Read the xlsx file
df = pd.read_excel('DAti_TSB_Stoppari.xlsx')

# Select only the first 10 rows of the dataframe
df = df.head(10)
#df.info()

# Replace all occurrences of 'x' with NaN
df.replace('x', np.nan, inplace=True)

# get the first row
df.iloc[0]

#print(df)

ID                                                                      1
Altro_ID                                                              1.0
Nome_verbatim                                           Lycopodium selago
Nome_floritaly          Huperzia selago (L.) Bernh. ex Schrank & Mart....
Localit√† di raccolta                                                Lienz
Altitudine                                                            NaN
Giorno                                                                NaN
Mese                                                                  NaN
Anno                                                                  NaN
Legit                                                                 NaN
Determinavit                                                          NaN
Note                                                                  NaN
Note sui cartellini                                                   NaN
Dati estratti da AI                                                   NaN
Name: 0, dtype: object

In [ ]:
# # Convert the dataframe to a JSON string
json_str = df.to_json(orient='records')
# Write the JSON string to a file
with open('filename.json', 'w') as json_file:
    json_file.write(json_str)